/* ----
----------- Fonts
---- */
@font-face {
    font-family: 'JosefinSlab';
    src: url( './fonts/JosefinSlab-Regular.ttf' ) format( 'truetype' );
}

@font-face {
    font-family: 'OpenSans';
    src: url( './fonts/OpenSans-Light.ttf' ) format( 'truetype' );
}


/* ----
----------- Global
---- */

html, body { background-color: #fafafa }

.main-wrapper {
    min-height: 100vh;
    overflow-x: hidden !important;
}


/* ----
----------- Header
---- */
#header {}
#site_logo { font-family: JosefinSlab, serif; }


/* ----
----------- Content
---- */
#content {}

#content textarea {
    font-family: OpenSans, sans-seif;
    height:300px;
    resize: none !important;
    border:none !important;
    outline:none!important;
    border-radius:5px;
    box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.05);
    transition:0.3s;
}

#content textarea:hover { box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.25); }
#content textarea:focus { box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.5); }


/* ----
----------- Results
---- */
#results { 
    border: 1px solid #dbdbdb; 
    border-radius:5px;
}

.result {}

.result .result_title {
    text-transform: uppercase;
    opacity:0.8;
    letter-spacing:1px;
}

.result .result_value {
    font-weight:bold;
    opacity:0.8;
}


/* ----
----------- Footer
---- */
#footer {}