/* ----
----------- Fonts
---- */
@font-face {
    font-family: 'JosefinSlab';
    src: url( './fonts/JosefinSlab-Regular.ttf' ) format( 'truetype' );
}

@font-face {
    font-family: 'OpenSans';
    src: url( './fonts/OpenSans-Light.ttf' ) format( 'truetype' );
}


/* ----
----------- Global
---- */

html, body { background-color: #fafafa }

.main-wrapper {
    min-height: 100vh;
    overflow-x: hidden !important;
}


/* ----
----------- Header
---- */
#header {}
#site_logo { font-family: JosefinSlab, serif; }


/* ----
----------- Content
---- */
#content {}

#content textarea {
    font-family: OpenSans, sans-seif;
    height:350px;
    resize: none !important;
    border:none !important;
    outline:none!important;
    border-radius:5px;
    box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.05);
    transition:0.3s;
}

#content textarea:hover { box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.25); }
#content textarea:focus { box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.5); }

#button-container {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    margin-top:-30px;
}

#button-container .dropdown-menu {
    box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.25);
}

#button-container button[type="button"] {
    display:inline-block;
    position:absolute;
    z-index:10;
    border-radius:250px !important;
    margin-right:-30px;
    transition:0.3s;
    outline:none !important;
    box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.05);
}

#button-container button[type="button"]:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.15);
}


#button-container .dropdown-menu button {
    opacity:0.75;
    transition:0.3s;
}

#button-container .dropdown-menu button:hover {
    opacity:1;
}


/* ----
----------- Results
---- */
#results { 
    border: 1px solid #dbdbdb; 
    border-radius:5px;
}

.result {
    border-bottom: 1px solid rgba(219, 219, 219, 0.25); 
}

.result:last-child() {
    border-bottom:none;
}

.result .result_title {
    text-transform: uppercase;
    opacity:0.8;
    letter-spacing:1px;
}

.result .result_value {
    font-weight:bold;
    opacity:0.8;
}


.result div .progress {
    height:5px;
    border-radius:250px;
}

.result div .progress .progress-bar {}


/* ----
----------- Footer
---- */
#footer {}




/* ----
----------- Response
---- */

@media (max-width: 988px) {
    #results {
        margin-top:75px !important;
    }
}
